.button-container {
  margin: 1rem 0;
}

button {
  -webkit-appearance: none;
  border: 1px solid #6275d0;
  color: #6275d0;
  padding: 0.6rem 0.8rem;
  background: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
}

button:disabled {
  color: #dddddd;
  border: 1px solid #dddddd;
}

button:hover,
button:active {
  transform: translate3d(0px, -1px, 0px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}