.App {
    text-align: center;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
}

.Logo {
    font-weight: 200;
}